button:active, button:focus{
    outline: none;
}
button{
    border:none;
}
.container{
    position: relative;
    height: 500px; 
    padding-top:4%; 
    background-color: #0C0F16;
}
.btn{
    position: absolute;
    top:0;
    height: 75%;
    width: 30px;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: orangered;
    opacity: .6;
}
.rightBtn{
    right: 0;
}
.content{
    height: 250px;
    margin: 0 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainHeader{
    display: block;
    text-align: center;
    color:white;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.bannerText{
    font-size: medium;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}
.header{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
    margin-top: 0;
    margin-bottom: 3px;
    color: orangered;
}
.bannerBtn{
    display: block;
    margin-top: 15px;
    margin: 0 auto;
    background-color: orangered;
    border: none;
    color: #fff;
    font-size: 0.6em;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: normal;
   
}