.header{
    width: 100%;
    min-height:600px;
    background-image: url(./HeaderImages/kettlebell-workout-1280-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    padding: 15px 0;
    opacity: .9;  
}
.blackWraper{
    background-color:rgba(0, 0, 0, .5);
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 600px;
}

