.container{
    text-align: center;
}
.headerText{
    margin: 0;
    color : white;
    text-align: center;
    margin-top: 35%;
    text-shadow: 0 1px 0 black; 
}

.orangeText{
    color: orangered;
}
.btn{
    width: 120px;
    height: 45px;
    line-height: 45px;
    background-color: white;
    font-weight: normal;
    display: block;
    margin: 0 auto;
    color: orangered;
    margin-top: 20px;
    border-radius: 5px;
}
.btnOr{
    color:white;
    background-color: orangered;
    border: none;
    font-weight: normal;
    margin-top: 60px;
    margin-bottom: 15px;
}
