.container{
    width: 100%;
    background-image: url('./images/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 310px;
}
.content{
    position: relative;
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 310px;
}
.content:after{
    content: '';
    clear: both;
    display: block;
}
.leftSide{
    position: absolute;
    top:60px;
    width: 40%;
}
.rightSide{
    position: absolute;
    top:60px;
    right: 0px;
    width: 40%;
}
.leftSide i{
    float: left;
}
.rightSide i{
    float: right;
}
.text{
    padding: 5px 10px;
    font-size: 12px;
    display: inline-block;
    width: 85%;
    height: 75px;
    margin-left: 15%;
    text-align: end;
    text-shadow: none;
    color: white;
   
}
.strong p, .fastSkill p, .nutrition p{
    margin-left: 0;
    text-align: start;
}


.title{
    color: white;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-weight: lighter;
    font-size: 17px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-weight: 600;
}

.orangeBlock{

    background-color: orangered; 
    /* opacity: .9; */
    
}
.iconWraper{
    position: relative;
    height: 75px;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}
.icon{
    position: absolute;
    right: 0;
    top: 0;
    /* opacity: .9; */
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 26px;
    padding: 0;
   
}
.iconFastStart{
    background-image: url('./images/rocket.jpg');
    left: 0;  
}
.iconNutrition{
    background-image: url('./images/nutrition.jpg');

}
.iconMuscles{
    background-image: url('./images/muscles.jpg');
    left: 0;
}
.iconStrong{
    background-image: url('./images/strong.jpg');
}
.iconSkill{
    background-image: url('./images/skill.jpg');
}
.iconWeightLoss{
    background-image: url('./images/weight.jpg');
    left: 0;
  
}
.blackNet{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
