button:active, button:focus{
    outline: none;
}
button{
    border:none;
}
.mainContainer{
    height: 500px; 
    background-color: #0C0F16;
    padding: 10px 0;
}
.container{
    position: relative;

}
.btn{
    position: absolute;
    top:0;
    height: 100%;
    width: 40px;
    font-size: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: orangered;
    opacity: .6;
}
.rightBtn{
    right:0;
}
.content{
    height: 250px;
    margin: 0 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerText{
    font-size: medium;
    color: white;
    text-align: center;
    padding: 20px 10px 10px;
}
.header{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight:normal;
}

.bannerBtn{
    display: block;
    margin-top: 15px;
    margin: 0 auto;
    background-color: orangered;
    border: none;
    color: #fff;
    font-size: 0.6em;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: normal;
    
}
.orangeText{
    color: orangered;
}