.nav{
   position: absolute;
   width: 50%;
   height: 100vh;
   background-color: rgba(0, 0, 0, .6);
  
}
.menu{
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
    padding-top: 35px;
}
li{
    padding: 7px ;
    padding-left: 20px;
}
.menu_item{
    color: white;
    text-decoration-line: none;
    font-size: 15px;
    text-transform: uppercase;
}
li:active{
    background-color: orangered;
}
.navBar{
    margin: 0; 
}
.navSymbol{
    color:orangered;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    left: 15px;
}
