.container{
   background-image:url('./images/g1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   min-height: 370px;
   position: relative;
 
}
p{
    text-align: center;
    margin: 0;
    padding-top: 25px;
    color: white;
    text-shadow: 0 1.5px 0 black;
}
.formContainer{
    background-color:rgba(0, 0, 0, .7);
    opacity: .9;
    border:none;
    min-height: 370px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px 0;
    
}
.inpt{
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    border: none;
    color: #aaa;
    width: 50%;
    height: 30px;
    padding-left: 10px;
}
.btn{
    margin-top: 15px;
    background-color: orangered;
    border: none;
    color: #fff;
    font-size: 0.6em;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: normal;
}
.treningList{
    width: 90%;
    height: 370px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 5%;
}
