*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #0C0F13;
    height: 350px;
    position: relative;
}
.form{
    display: inline-block;
    width: 50%;
    height: 200px;
   
}
.inpt{
    margin-bottom: 5px;
    border: none;
    background-color: white;
    color: black;
    width: 90%;
    height: 30px;
    font-size: 11px;
    margin-left: 5px;
    padding-left: 5px;
}
.textarea{
    height: 74px;
}
.btn{
    background-color: orangered;
    color: white;
    font-size: 0.5em;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 5px;
    margin-left: 5px;
}

.adress{
    width: 50%;
    background-color: white;
    height: 145px;
    float: right;
}
.adres::after{
    clear: both;
    display: block;
    content: '';
}
i{
    color: orangered;
    font-size: 25px;
    padding-right: 5px;
   
}
.contactText{
    color: black;
    font-size: 12px;
    text-shadow: none;
    padding:25px 25px 0;
  
    
   
}
.footerText{
    color:white;
    padding-left: 5px;
   
   
   
}
.copyright{
    margin-top: 15px;
    height: 15px;
    width: 100%;
    background-color: #0C0F13; 
}
.copyrightText{
    color:white;
    font-size: 12px;
    text-align: center;
}