.container{
    background-color: #0C0F13;
    height: 300px;
}

.form{
    width: 65%;
    display: inline-block;
    height: 300px;
    
}
.inpt{
    display: block;
    margin-bottom: 5px;
    border: 1px solid gray;
    background-color: black;
    color: white;
    width: 60%;
    height: 30px;
    /* padding-left: 10px; */
    font-size: 10px;
}
.btn{
    border: 1px solid orangered;
    color: orangered;
    background-color: #0C0F13;
    font-size: 0.5em;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: normal;
}

.adress{
    width: 35%;
    display: inline-block;
    background-color: gray;
    height: 300px;
}